body {
background: url(../images/question-background.png)
}
.container {
    background-color: #618be665;
    margin: 50px 75px;
}
#heading {
    font-size: xx-large;
    text-align: center;
    
}
#timer {
    font-size: x-large;
    text-align: center;
}